.photo-grid {
  padding: 0 var(--block-margin-side) var(--block-margin-between);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 14px;
}

@media screen and (min-width: 1100px) {
  .photo-grid {
    gap: 1.25vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 870px) {
  .photo-grid {
    gap: 2vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .photo-grid {
    gap: 3.75vw;
    grid-template-columns: 1fr;
  }
}