.lead {
  padding-bottom: var(--block-margin-between);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

@media screen and (min-width: 1297px) {
  .lead {
    padding-bottom: (--block-margin-between);
  }
}

@media screen and (max-width: 1041px) {
  .lead {
    padding-bottom: var(--block-margin-between);
  }
}

@media screen and (max-width: 785px) {
  .lead {
    padding-bottom: var(--block-margin-between);
  }
}