.lead {
  margin: 0 var(--block-margin-side) var(--block-margin-between);
  padding: 0 calc((100vw - 1041px)/2.56);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

@media screen and (max-width: 1041px) {
  .lead {
    margin: 0 0 var(--block-margin-between);
    padding: 0 calc((100vw - 785px)*3/16);
  }
}

@media screen and (max-width: 785px) {
  .lead {
    margin: 0 0 var(--block-margin-between);
    padding: 0;
  }
}