.header__link {
  margin-left: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  color: inherit;
  text-decoration-line: none;
}

.header__link:hover {
  opacity: .8;
}

@media screen and (max-width: 785px) {
  .header__link {
    font-size: calc(24px - (785px - 100vw)*3/224);
    line-height: calc(28px - (785px - 100vw)/56);
  }
}