.cover__title {
  margin: 0 0 32px;
  padding: 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
}

@media screen and (max-width: 785px) {
  .cover__title {
    width: 100%;
    font-size: calc(72px - (785px - 100vw)/11);
    line-height: calc(76px - (785px - 100vw)/11);
  }
}

@media screen and (max-width: 337px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}